body { 
      margin:0px ;
      padding: 0px;
      width: 100%; 
}
      
      .diaporama{
            margin: 0 auto;
            width: 860px;
            height: 500px;
            border: 50 px solid #333;
            border-radius: 50px;
            background-image: url(cult1.jpg);
            
            -webkit-animation-name: diapo1;
            -webkit-animation-duration:5s ;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: normal;
           
            -moz-animation-name: diapo1;
            -moz-animation-duration:30s ;
            -moz-animation-timing-function: linear;
            -moz-animation-iteration-count: infinite;
            -moz-animation-direction: normal;

            animation-name: diapo1;
            animation-duration:30s ;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;



            
      }

      @-webkit-keyframes diapo1{
            0%{background-image: url(cult1.jpg)}
            33%{background-image: url(cult2.jpg)}
            60%{background-image: url(cult3.jpg)}
            70%{background-image: url(cult4.jpg)}
            75%{background-image: url(cult5.jpg)}
            33%{background-image: url(cult6.jpg)}
            33%{background-image: url(cult7.jpg)}
            33%{background-image: url(cult8.jpg)}
            
            
            @-moz-keyframes diapo1{
                  0%{background-image: url(cult1.jpg)}
                  33%{background-image: url(cult2.jpg)}
                  33%{background-image: url(cult3.jpg)}
            33%{background-image: url(cult4.jpg)}
            60%{background-image: url(cult5.jpg)}
            70%{background-image: url(cult6.jpg)}
            75%{background-image: url(cult7.jpg)}
            33%{background-image: url(cult8.jpg)}
        
            

                  keyframes diapo1{
                        0%{background-image: url(cult1.jpg)}
                        33%{background-image: url(cult2.jpg)}
                        33%{background-image: url(cult3.jpg)}
            33%{background-image: url(cult4.jpg)}
            33%{background-image: url(cult5.jpg)}
            33%{background-image: url(cult6.jpg)}
            33%{background-image: url(cult7.jpg)}
            33%{background-image: url(cult8.jpg)}
            
            
            
      

      }
     
